
# Sanity Project Credentials
# Find these in your Sanity project settings: manage.sanity.io
NEXT_PUBLIC_SANITY_PROJECT_ID="z90y7v4b"
NEXT_PUBLIC_SANITY_DATASET="production"

# Create a new API token with write permissions in your Sanity project settings
# Go to API -> Tokens -> Add API Token
SANITY_API_TOKEN="skeSp4y3bHm3AmRE31o15UdhyvkXn3PIHlxh3MylfMGuaQ5XYMQ62l5f7kbHiHQWpcovmCuLpDSikW1URRepis7i0PFWVEbfM83k1xYPUq2SFNJytjVFMMc2WycOZSc1QwYFCTdwXpSfkGF0YCMaphvYnz0HnVci8lgVm8tgFobB0xtOSbTQ"
