@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0a1936 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
