@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flag-icons/css/flag-icons.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@layer base {
  body {
    @apply bg-white text-black;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }

  * {
    @apply border-gray-200;
  }
}

@layer components {
  .prose table {
    @apply block overflow-x-auto;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #1E3A8A;
  transform-origin: 0%;
  z-index: 9999;
}
